.left_to {
	display: none;
	position: fixed;
	top: 70px;
	width: 230px;
	right: 50%;
	margin-right: 535px;
}

.right_to {
	display: none;
	position: fixed;
	top: 70px;
	width: 230px;
	left: 50%;
	margin-left: 535px;
}

.left_to img,
.right_to img {
	width: 100%;
}
